
body { 
    background: url(https://cdn2.itpro.co.uk/sites/itpro/files/2018/04/game_of_thrones_kasperskyshutterstock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .logoDiv {
    background-position: center center;
    opacity: .9;
    z-index: 0;
    border-radius: 10%;
  }

  button {
        display:table;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px 20px 20px 20px;
        border-radius: 25px;
        font-family: 'MedievalSharp', cursive;
        font-size: 20px;    
        
  }

  #quiz{
      background-color: black;
      margin-top:50px;
      opacity: .7;
      
      
  }

  #question{
      color: whitesmoke;
      font-family: 'MedievalSharp', cursive;
      font-size: 22px;

  }

  #choices{
    color: whitesmoke;
    font-family: 'MedievalSharp', cursive;
    font-size: 18px;
    
}

#A:hover{
    background:red;
}

#B:hover{
    background:red;
}
#C:hover{
    background:red;
}
